/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* color scheme */
:root {
    --primary: #ffa07a;
    --secondary: #d66e3e;
    --accent-1: #da8368;
    --accent-2: #ff7f50;
    --accent-3: #ffdab9;
    --black: #111111;
}

/* html resets */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lora';
    color: var(--black);
    scroll-behavior: smooth;
    background-color: var(--accent-3);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* utilities */
.display-none {
    display: none;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--accent-);
}

/* navbar */
.nav-logo {
    width: 110px;
    border-radius: 10px;
}

/* desktop nav */
.desktop-nav ul {
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
}

.desktop-nav a:hover {
    color: var(--secondary);
}

.desktop-nav a:visited {
    color: var(--accent-1);
}

/* mobile nav */
.mobile-nav img {
    width: 50px;
    cursor: pointer;
}

.mobile-nav button {
    background-color: var(--accent-3);
    border-radius: 10px;
    border: none;
    padding: 2px 5px;
}

/* hero */
.hero {
    background-color: var(--accent-2);
    width: 95%;
    height: 250px;
    margin: 25px auto 50px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.hero-text {
    margin-top: 40px;
}

.hero p {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 250px;
}

.hero img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin-top: 50px;
}

/* components */
.articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}

.articles-container article {
    background-color: var(--secondary);
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    height: 150px;
}
.articles-container article:hover {
    background-color: var(--accent-2);
}

.articles-container .card-2 {
    margin-left: 200px;
}
